.default {
    background-color: #EBE6E0;
    color: #000080;
    height: 100vh;
    font-size: 36px;
    width: 70vh;
    height: 80vh;
    display: table;
    margin: 0 auto;
    border: 1px solid black;
}

.header {
    color: white;
    height: 10vh;
    font-size: 36px;
    display: flex;
    padding: 0px 10px 0px 10px;
    justify-content: space-between;
}

.header-title {
    padding-bottom: 8px;
    align-self: center;
}

.header-button {
    height: 40px;
    align-self: center;
    padding-bottom: 8px;
}

.body-header {
    font-size: 30px;
}

.body-component {
    font-size: 24px;
    height: 60vh;
    padding: 0px 10px 0px 10px;
}

.welcome-main-header {
    background-color: #000080;
}

.addition-header {
    background-color: #ce0e2d;
}

